.App {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.main-container {
  background: var(--bs-gray-300);
  border-radius: 10px;
  display: grid;
  grid-template-columns: 4fr 1fr 4fr;
  grid-template-rows: 100%;
  padding: 10px;
}

.main-container .arrow-block span {
  font-size: 100px;
  text-shadow: 0 0 10px var(--bs-gray-700);
}
.result-block .image-result{
  box-shadow: 0 0 10px var(--bs-gray-600);
}
.upload-block button span {
  font-size: 100px;
}
@media (max-width: 768px) {
  .main-container {
    grid-template-columns: 100%;
    grid-template-rows: 4fr 1fr 5fr;
  }

  .main-container .arrow-block span {
    font-size: 50px;
    transform: rotate(90deg);
  }
}